---
layout: page
title: QuedArte
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">QuedArte na casa</h1>
          <p class="animated fadeInUp">Un espazo de expresión colectiva, de construción de relatos, de discusión, onde poidamos compartir ideas a través de imaxes, vídeos, fotografías…</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Ola! Benvida, benvido!</h2>
            <p>Queres saber que é QuedArte na casa?</p>
          </div>
          <p>QuedArte na casa é un proxecto participativo que nace en marzo de 2020, durante a corentena polo Covid-19. O obxectivo deste proxecto é crear un MUSEO VIRTUAL con coleccións e itinerarios realizadas a partir das mostras que aporta cada un de nós. É un espazo aberto e voluntario que pretende transmitir ideas e inquietudes, impulsar a unha relación sensible entre o observador-obra-autor, e dar voz a aquelas persoas que queren ser escoitadas a través da imaxe.</p>
          <P>Ademais, temos como obxectivo a creación dunha exposición física a partires dalgunhas imaxes para poder facer máis real a experiencia sensorial que nos transmite cada mostra.</P>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>Por que un museo virtual? </h2>
      <p>A nosa sociedade está marcada polos rápidos procesos de transformación, pola fast culture…</p>
      <p>En QuedArte na casa queremos compartir cultura e arte con “sentidiño”, e se ben é certo que aproveitamos as vantaxes da globalización en canto ao uso da rede e das webs e para superar as barreiras xeográficas, tamén queremos reflexionar sobre os límites e impulsar os circuítos curtos de consumo.</p>
      <a href="#" class="btn btn-view-works">Ver obras</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Como podo participar? </h2>
        <p>De múltiples maneiras...</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-email"></i>
          <h4>Email</h4>
          <p>Podes contactar con nós a través do <a href="mailto:quedartenacasa@gmail.com">correo</a>. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-share"></i>
          <h4>Hastag</h4>
          <p>Partilla co hastag: <strong>#corentena</strong>, <strong>#capitalismocontemporáneo</strong></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Fálannos</h4>
          <p>Entre todos podemos partillar, xerar debate... Aprender uns de outros.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-coffee"></i>
          <h4>Reflexiona</h4>
          <p>Podemos comezar por pensar en.... que é a arte? Quen é o artista?</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Esinamos ao mundo aquelo que queiras mostrar</h2>
          <p></p>
          <a class="btn btn-default btn-call-to-action" href="#" >Contacta con nós?</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Quen está detrás?</h2>
        <P>Se queres formar parte da equipa de Brais e Lucía, non dubides en nolo facer saber! Realmente sen a vosa colaboración o proxecto non ten sentido.
          A construción de relatos participativos deixa de ter significado no momento no que a web quede sen contido, ideas, conceptos, imaxes...
          QuedArte na casa somos todos e todas nós!</P>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
